<br>
<div class="post">
  <p class="post_main">Please enter your email and password.</p>
  <form method="post" action="/sessions">
    <input type="text" name="email" id='sign_in_form' placeholder='Email' />
    <br><br><input type="password" name="password" id='sign_in_form' placeholder='Password' />
    <br><br><input type="submit" value="Sign in!" id="sign_in_button">
</form>
</div>
