<br>
<div class="post">
<p class="post_main">Registering is easy and takes just a few seconds!</p>
<form action="/users" method="POST">
  <input type="text" name="username" placeholder="Pick a unique username!" id="sign_in_form">
  <br><br><input type="text" name="realname" placeholder="Your real name" id="sign_in_form">
  <br><br><input type="text" name="email" placeholder="Email address" id="sign_in_form">
  <br><br><input type="password" name="password" placeholder="Pick a password!" id="sign_in_form">
  <br><br><input type="password" name="password_confirmation" placeholder="Confirm password" id="sign_in_form">
  <br><br>
  <input type="submit" value="Sign up!" id="sign_in_button">
</form>

</div>

