body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a:link {
  color: #76B4D9;
}

a:visited {
  color: #76B4D9;
}

div.all {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-bottom: 10%;
  padding-top: 0px;
}

div.welcome-message {
  width: 97%;
  font-size: 12px;
  text-align: right;
  padding-right: 2%;
  padding-top: 2%;
}

div.sign_in {
  padding-right: 15px;
  padding-top: 15px;
  text-align: right;
  font-size: 16px;
}

div.headline {
  padding-top: 15px;
  font-size: 20px;
  text-align: center;
  font-weight: bolder;
}

div.post {
  width: 90%;
  margin-top: 10px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  border: #D8BBA6 solid 2px;
  border-radius: 10px;
}

div.reply {
  margin-top: 10px;
  width: 90%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  border: #76A653 solid 2px;
  border-radius: 10px;
}

div.post_update {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

div.sign_in_page {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div.reply_box {

}

#submit_form {
  padding: 5px;
  width: 88%;
  height: 25px;
  font-size: 14px;
  border-radius: 5px;
}

#reply_form {
  padding: 5px;
  margin-left: 5%;
  width: 80%;
  height: 25px;
  font-size: 14px;
  border-radius: 5px;
}

#submit_button {
  width: 60px;
  height: 40px;
  border-width: 0px;
  border-radius: 10px;
  font-size: 14px;
  color: white;
  background-color: #76B4D9;
}

#sign_in_form {
  padding: 10px;
  margin-left: 10px;
  width: 700px;
  height: 25px;
  font-size: 14px;
  border-radius: 5px;
}

#sign_in_button {
  width: 80px;
  height: 40px;
  border-width: 0px;
  border-radius: 10px;
  font-size: 14px;
  background-color: #76B4D9;
  text-align: center;
  color: white;
  margin-left: 650px;
  margin-bottom: 10px;
}

#sign_out_button {
  display: inline-block;
  margin-top: 5px;
  border-width: 0px;
  border-radius: 5px;
  background-color: #76B4D9;
  color: white;
}


p.post_author {
  font-size: 16px;
  color: #7181A6;
  font-weight: bold;
  padding: 10px;
}

p.reply_author {
  font-size: 14px;
  color: #7181A6;
  font-weight: bold;
  padding: 5px;
}

p.post_main {
  font-size: 14px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: left;
}

p.reply_main {
  font-size: 12px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: left;
}

p.post_footer {
  font-size: 10px;
  text-align: right;
}

p.footer {
  font-size: 10px;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  padding: 1%;
}