body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

a:link {
  color: #76B4D9;
}

a:visited {
  color: #76B4D9;
}

div.all {
  width: 838px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

div.logo {
  display: inline-block;
  position: left;
  width: 400px;
  font-size: 20px;
  padding-left: 15px;
}

div.welcome-message {
  display: inline-block;
  position: right;
  width: 400px;
  font-size: 16px;
  text-align: right;
  padding-top: 15px;
  padding-right: 15px;
}

div.sign_in {
  padding-right: 15px;
  padding-top: 15px;
  text-align: right;
  font-size: 16px;
}


div.headline {
  padding-top: 15px;
  padding-left: 15px;
  font-size: 20px;
  font-weight: bolder;
}

div.post {
  width: 750px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  border: #D8BBA6 solid 2px;
  border-radius: 10px;
}

div.post_update {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  padding: 15px;
}

#submit_form {
  padding: 5px;
  width: 600px;
  height: 25px;
  font-size: 14px;
  border-radius: 5px;
}

#submit_button {
  width: 60px;
  height: 40px;
  border-width: 0px;
  font-size: 14px;
  background-color: #76B4D9;
}

p.post_author {
  font-size: 16px;
  color: #7181A6;
  font-weight: bold;
  padding: 10px;
}

p.post_main {
  font-size: 14px;
  padding-left: 10px;
}

p.post_footer {
  font-size: 10px;
  text-align: right;
}