<footer>
  <div class="footer">
<img src='/images/totoro_bottom.png' width='100%'>
  </div>
  <p class="footer">
    This web app was built during <a href='http://www.makersacademy.com'>Makers Academy</a> | <a href='http://https://github.com/deniseyu/octochat'>Pull requests welcome</a>
  </p>
</footer>