<footer>
  <section id="footer">
    This web app was built during <a href='http://www.makersacademy.com'>Makers Academy</a> | <a href='http://https://github.com/deniseyu/octochat'>Pull requests welcome</a>
  </section>
</footer>