<div class='headline'>Latest news</div>

<br>
<% @posts.reverse.each do |post| %>

<div class='post'>
  <p class='post_author'><%= post.realname %> 
  (<%= post.username %>)</p>
  <p class='post_main'>
  <%=h post.content %></p> 
  <p class='post_footer'>Reply | Posted at <%= post.created_at.to_s.chars[0..15].each_slice(10).to_a.rotate.flatten.drop(1).insert(5, " ").join %></p>
</div>
<br>
<% end %>

