<!doctype html>
<html>
    <head>
        <link href="css/stylesheet.css" type="text/css" rel="stylesheet" />
        <meta charset="utf-8">
        <title>Octochat</title>
    </head>
    <body>
      <%= partial :flash %>
      <%= yield %>
    </body>
</html>
